* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

img {
  display: block;
  width: 100%; }

.no-select {
  user-select: none; }

.display-none {
  display: none; }

.display-block {
  display: block; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  -webkit-tap-highlight-color: transparent; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-bold {
  font-weight: bold; }

.fw-normal {
  font-weight: normal; }

.no-decor {
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.text-lower {
  text-transform: lowercase; }

.text-ellipsis {
  text-overflow: ellipsis; }

.landing__wrapper {
  top: 0;
  left: 0;
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/image3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  filter: blur(5px);
  transform: scale(1.05);
  width: 100%;
  z-index: -1;
  overflow: hidden; }

.landingview__container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.landingview__textview {
  text-align: center; }
  .landingview__textview--header {
    display: block;
    font-size: 5.5rem;
    font-weight: 400;
    font-family: inherit;
    color: #E0E0E0;
    text-transform: uppercase;
    letter-spacing: 2.8555rem;
    margin-bottom: 1.5rem; }
  .landingview__textview--smview {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: inherit;
    color: #E0E0E0;
    text-transform: uppercase;
    letter-spacing: .8555rem; }
